:root {
    --primary: #165c7d;
    --secondary: #FFA300;
    --goldailos: #886b25;
    --azulclaroailos: #00a9ce;
    --azulmedioailos: #007d8a;
    --verdeclaroailos: #00b140;
    --verdeescuroailos: #007041;
}