    body,
    html {
        /*font-family: 'Exo 2', sans-serif; ****** Titulos ***/
        font-family: 'Open Sans', sans-serif;
    }
    
    #header {
        width: 100%;
        background-color: var(--primary);
        transition: background ease-out .2s;
    }
    
    #header .navbar-collapse {
        width: auto;
    }
    
    #header .nav-link {
        color: #FFF;
        font-weight: 500;
        padding-left: 0;
        padding-right: 0;
        margin-left: 15px;
        margin-right: 15px;
        border-bottom: solid 2px transparent;
    }
    
    #header .nav-link:hover {
        color: var(--secondary);
        border-bottom: solid 2px var(--secondary);
    }
    
    .modal-title {
        font-family: 'Exo 2', sans-serif;
    }